h1 {color: red;}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    transition: height 300ms ease-out 0s;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    line-height: 2.5em;
    box-radius: 5px;
}

div.login {
    margin-top: 9%;
    background-color: white;
}
div.cadastro {
    margin-top: 2%;
    background-color: white;
    margin-left: 12%;
    height: 530px;
}

body {
    background-color: #DCDCDC;
}

#div_form_login {
    height: 280px;
}

#div_message_erro_login {
    margin-top: 10px;
}

.input-group { width: 400px !important; }
